
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:white;
}

h1{
margin-bottom:25px;
color:#333;
}

.form-box{
width:380px;
background:#f4f6f8;
padding:30px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

label{
font-weight:bold;
display:block;
margin-top:10px;
}

input{
width:100%;
padding:10px;
margin-top:6px;
border-radius:6px;
border:1px solid #bbb;
outline:none;
transition:0.2s;
}

input:focus{
border-color:#3a86ff;
}

.error{
color:#d00000;
font-size:13px;
margin-bottom:5px;
display:block;
}

.buttons{
display:flex;
gap:12px;
margin-top:18px;
}

button{
flex:1;
padding:10px;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}

.reset{
background:#29903B;
color:white;
}

.reset:hover{
background:#e68a00;
}

.submit{
background:#3a86ff;
color:white;
}

.submit:disabled{
background:#b0b7c3;
}

.submit:hover:enabled{
background:#2f6fe0;
}
